<!doctype html>
<html>
  <%- include('../../../partials/head.ejs') %>
  <body>
    <div class="container">
      <div class="row">
        <%- include('../../../partials/sidebar.ejs') %>

        <main>
          <h1><%=title%></h1>

          <% if (homes_list.length) { %>
            <% homes_list.forEach(home => { %>
              <div class="home-preview">
                <a href="<%=home.url%>"><%=home.address%></a>
                <h4>$<%=home.price%></h4>
                <p><%=home.interior_info.bedrooms%> bds | <%=home.interior_info.bathrooms%> bths | <%=home.property_info.lot_size%></p>
                <hr/>
                <p>
                  <a href="<%=home.url%>/delete">Delete&nbsp;Home</a> |
                  <a href="<%=home.url%>/update">Update&nbsp;Home</a>
                </p>
              </div>
            <% }) %>
          <% } else { %>
            <p>No homes in database.</p>
          <% } %>
        </main>
      </div>
    </div>
  </body>
</html>
