<!doctype html>
<html>
  <%- include('../../../partials/head.ejs') %>
  <body>
    <div class="container">
      <div class="row">
        <%- include('../../../partials/sidebar.ejs') %>

        <main>
          <h1><%=title%></h1>

          <p><strong>Name: </strong><%=user.first_name%> <%=user.last_name%></p>
          <p><strong>Email: </strong><%=user.email%></p>
          <a href="<%=user_account.url%>"
            ><strong>Account ID: </strong><%=user_account._id%></a
          >

          <p>
            <a href="<%=user.url%>/delete">Delete&nbsp;User</a> |
            <a href="<%=user.url%>/update">Update&nbsp;User</a>
          </p>
        </main>
      </div>
    </div>
  </body>
</html>
