<!doctype html>
<html>
  <%- include('../../../partials/head.ejs') %>
  <body>
    <div class="container">
      <div class="row">
        <%- include('../../../partials/sidebar.ejs') %>

        <main>
          <h1><%=title%></h1>

          <% if (accounts_list.length) { %>
          <h4>Accounts</h4>
          <ul>
            <% accounts_list.forEach(account => { %>
              <li>
                <div>
                  <a href="<%=account.url%>"><strong>Account ID: </strong><%=account._id%></a>
                  <p><strong>Name: </strong><%=account.user.first_name%> <%=account.user.last_name%></p>
                  <p><strong>Type: </strong><%=account.type%></p>
                  <p><strong>Customer since: </strong><%=account.created_on_formatted%></p>
                </div>
              </li>
            <% }) %>
          </ul>

          <% } else { %>
            <p>There are no accounts.</p>
          <% } %>
        </main>
      </div>
    </div>
  </body>
</html>