<!doctype html>
<html>
  <%- include('../../../partials/head.ejs') %>
  <body>
    <div class="container">
      <div class="row">
        <%- include('../../../partials/sidebar.ejs') %>

        <main>
          <h1><%=title%></h1>
          <p><strong>Type: </strong><%=account.type%></p>
          <p><strong>Account ID: </strong><%=account._id%></p>
          <p>
            <strong>Created On: </strong><%=account.created_on_formatted%>
          </p>

          <section>
            <h2>Linked Users:</h2>

            <% account.users.forEach(user => { %>
            <p>
              <strong>Name: </strong><a href="<%=user.url%>">
              <%=user.first_name%> <%=user.last_name%></a>
            </p>
            <% }) %>
          </section>
          <hr />
          <section>
            <h2>Account Saved Homes</h2>

            <% if (account.homes.length) { %>
              <% account.homes.forEach(home => { %>
                <div class="home-preview">
                  <a href="<%=home.url%>"><%=home.address%></a>
                  <h4>$<%=home.price%></h4>
                  <p><%=home.interior_info.bedrooms%> bds | <%=home.interior_info.bathrooms%> bths | <%=home.property_info.lot_size%></p>
                </div>
              <% }) %>
            <% } else { %>
              <p>No saved homes yet.</p>
            <% } %>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
